    <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Funtions
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-employeeSVD'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Employee <i class="fas fa-users"></i></h4>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-itemSVD'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Item <i class="fas fa-box"></i></h4>
                                        
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-orderSVD'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                                        
                                    </div>

                                   </div>
                               </a>
                            </div>
                            <br>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                               <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-salesSVD'%}">
                                   <div class="card my-card shadow text-center p-3">
                                    <h4>Sales <i class="fas fa-shipping-fast"></i></h4>
                                    
                                   </div>
                                </a>
                            </div>
                            <br>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-utilitySVD'%}">
                                    <div class="card my-card shadow text-center p-3">
                                     <h4>Btility Bill Details <i class="fas fa-shipping-fast"></i></h4>
                                     
                                    </div>
                                 </a>
                             </div>
                             <br>
                             <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboardnew-reportSVD'%}">
                                    <div class="card my-card shadow text-center p-3">
                                     <h4>Genarate Finance Report  <i class="fas fa-shipping-fast"></i></h4>
                                     
                                    </div>
                                 </a>
                             </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->